{{ define "status"}}
<div class="center">
    <h1>Uptime Status</h1>
    <div class="divTable darkTable"> 
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">Site</div>
                <div class="divTableHead">Status</div>
                <div class="divTableHead">Code</div>
                <div class="divTableHead">Time</div>
                <div class="divTableHead">Actions</div>
            </div>
        </div>
        {{ range . }}
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell"><a href ="/history/{{ .Site }}/day">{{ .Site }}</a></div>
                <div class="divTableCell">{{ .Status }}</div>
                <div class="divTableCell">{{ .StatusCode }}</div>
                <div class="divTableCell">{{ .Time.Format "02 Jan 06 15:04 MST" }}</div>
                <div class="divTableCell">
                    <a href="/delete/{{ .Site }}">Delete</a>
                    <a href="/edit/{{ .Site }}">Edit</a>
                    <a href="/new">Create</a>
                    <a href="/logs">logs</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}