{{define "admin"}}
{{if (eq .Admin true)}}
<div class="center">
       <h2>Admin Page</h2>
       <button onclick="location.href='/user'" type="button">Create New User</button>
       <button onclick="location.href='/'" type="button">Home</button>
       <br>
       <h3>Users</h3>
       {{ range .Data }}
       <table class="center">
              <tr>
                     <td><label>{{.Name}}</label></td>
                     <td><button onclick="location.href='/user/{{.Name}}'" type="button">Edit</button></td>
                     <td>
                            <form action="/user/delete/{{.Name}}" method="post">
                                   <button type="Submit">Delete</button>
                            </form>
                     </td>
              </tr>
       </table>
       {{end}}
</div>
{{ else}}
<div class="center">
       <h2>Admin Page</h2>
       <button onclick="location.href='/'" type="button">Home</button>
       <td><button onclick="location.href='/user/{{.User}}'" type="button">Edit</button></td>

</div>
{{ end }}
{{end}}

{{define "newUser"}}
<div class="center">
       <h2>Add User</h2>
       <form action="/user" method="post">
              <table class="center">
                     <tr>
                            <td><label for="name">Name</label></td>
                            <td><input name="name" type="text" , size=40></td>
                     </tr>
                     <tr>
                            <td><label for="Pass">Pass</label></td>
                            <td><input name="pass" type="password" , size=40></td>
                     </tr>
                     <td><label for="admin">Admin</label></td>
                     <td><input type=checkbox name=admin></td>
              </table>
              <button onclick="location.href='/admin'" type="button">Cancel</button>
              <button type="submit" value="Submit">Submit</button>
       </form>
</div>
{{end}}

{{ define "editUser"}}
<div class="center">
       <h2>Edit User {{(index .Data 0).Name}}</h2>
       <form action="/user/{{ (index .Data 0).Name }}" method=post>
              <table class="center">
                     <tr>
                            <td><label for="Pass">Pass</label></td>
                            <td><input name="pass" type="password" , size=40></td>
                     </tr>
                     {{if (eq .Admin true)}}
                     <td><label for="Admin">Admin</label></td>
                     {{ if (eq (index .Data 0).Admin true )}}
                     <td><input type=checkbox checked=true name="admin"></td>
                     {{else}}
                     <td><input type=checkbox name="admin"></td>
                     {{end}}
                     {{end}}
              </table>
              <button onclick="location.href='/admin'" type="button">Cancel</button>
              <button type="submit" value="Submit">Submit</button>
       </form>
</div>
{{end}}