{{ define "notifications" }}
<div class="center">
    <h1>Notifications</h1>
    <button onclick="location.href='/notify'" type="button">New Notification</button>
    <button onclick="location.href='/'" type="button">Home</button>
    <div class="divTable darkTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">Name</div>
                <div class="divTableHead">Type</div>
                <div class="divTableHead">Actions</div>
            </div>
        </div>
        {{ range .Data }}
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">{{ .Name }}</a></div>
                <div class="divTableCell">{{ .Type}}</div>
                <div class="divTableCell">
                    <button onclick="location.href='/notify/edit/{{ .Name }}'" type="button">Edit</button>
                    <button onclick="location.href='/notify/delete/{{ .Name }}'" type="button">Delete</button>
                    <button onclick="location.href='/notify/test/{{ .Name }}'" type="button">Test </button>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "newNotification" }}
<div class="center">
    <h1>New Notificaton</h1>
    <form accept-charset="UTF-8" action="/notify" autocomplete="off" method="post">
        <label for="name">Name</label>
        <input name="name" type="text" size="60" /><br>
        <label>Notification Type</label>
        <input type="radio" name="type" value="slack" onclick="displayExtra('slack')" />Slack
        <input type="radio" name="type" value="discord" onclick="displayExtra('discord')" />Discord
        <input type="radio" name="type" value="email" onclick="displayExtra('email')" />Email
        <input type="radio" name="type" value="sms" onclick="displayExtra('sms')" />SMS
        <br>
        <div id="slack" style="display:none">
            Slack Data<br>
            <label for="token">Token</label>
            <input name="token" type="text" size="60"><br>
            <label for="channel">Channel</label>
            <input name="channel" type="text" size="60"><br>
        </div>
        <div id="discord" style="display:none">
            discord: not implemented
        </div>
        <div id="email" style="display:none">
            email: not implemented
        </div>
        <div id="sms" style="display:none">
            sms: not implemented
        </div>
        <br>
        <button onclick="location.href='/notifications'" type="button">Cancel</button>
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
<script>
    function displayExtra(id) {
        document.getElementById('slack').style.display = "none";
        document.getElementById('email').style.display = "none";
        document.getElementById('discord').style.display = "none";
        document.getElementById('sms').style.display = "none";
        document.getElementById(id).style.display = "block";
    }
</script>
{{ end }}

{{ define "deleteNotification" }}
<div class="center">
    <h1>Delete Notification {{ .Site }}</h1>
    <form action="/notify/delete/{{.Site}}" method="post">
        <button onclick="location.href='/notifications'" type="button">Cancel</button>
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
{{ end }}

{{ define "editNotification" }}
<h1>Edit Notification</h1>
{{ end }}

{{ define "editSlackNotification" }}
<div class="center">
    <h1>Edit Notification: Slack</h1>
    {{ range .Data }}
    <form accept-charset="UTF-8" action="/notify/edit/{{ .Name }}" autocomplete="off" method="post">
        <label for="token">Token</label>
        <input name="token" type="text" size="60" value="{{ .Token }}"><br>
        <label for="channel">Channel</label>
        <input name="channel" type="text" size="60" value="{{ .Channel }}"><br>
        <input name="type" type="hidden" value="slack">
        <button onclick="location.href='/notifications'" type="button">Cancel</button>
        <button type="submit" value="Submit">Submit</button>
    </form>
    {{ end }}
</div>
{{ end }}