{{ define "status"}}
<div class="center">
    <h1>Uptime Status</h1>
    <button onclick="location.href='/new'" type="button">New Monitor</button>
    <button onclick="location.href='/notifications'" type="button">Notifications</button>
    <button onclick="location.href='/logs'" type="button">View Logs</button>
    <button onclick="location.href='/logout'" type="button">Logout</button>
    <button onclick="location.href='/admin'" type="button">User Admin</button>
    <div class="divTable darkTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">Site</div>
                <div class="divTableHead">Status</div>
                <div class="divTableHead">Code</div>
                <div class="divTableHead">Time</div>
                <div class="divTableHead">ResponseTime</div>
                <div class="divTableHead">CertExpiry</div>
                <div class="divTableHead">Actions</div>
            </div>
        </div>
        {{ range .Data }}
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell"><a href="/history/{{ .Site }}/hour">{{ .Site }}</a></div>
                <div class="divTableCell">{{ .Status }}</div>
                <div class="divTableCell">{{ .StatusCode }}</div>
                <div class="divTableCell">{{ .Time.Format "02 Jan 06 15:04 MST" }}</div>
                <div class="divTableCell">{{ .ResponseTime }}</div>
                <div class="divTableCell">{{ .CertExpiry }}</div>
                <div class="divTableCell">
                    <button onclick="location.href='/delete/{{ .Site }}'" type="button">Delete</button>
                    <button onclick="location.href='/edit/{{ .Site }}'" type="button">Edit </button>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}