package templates

templ Status (buttons []ButtonLink, headings []string, rows []StatusRows) {
    <h1>Uptime Status</h1>
    for _, button := range buttons {
        @LinkButton(button.Name, button.Location)
    }
    <div class="divTable darkTable">
        @TableHeading(headings)
        @TableStatusRows(rows)
    </div>
}